p{
  color: black;
}
.text{
  color: green;
}
.add{
  background-color: yellow;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
}
.now{
  background-color: orange;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
}